.loginContainer {
  display: flex;
  flex-direction: column;
}

.loginBottom {
  // display: flex;
  // flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}
