.input {
  color: white;
  padding: 16px 20px;
  border: 0.5px solid rgba($color: #dbdbdb, $alpha: 0.8);
  background-color: rgba($color: #fff, $alpha: 0.12);
  border-radius: 8px;
  width: 328px;
  box-sizing: border-box;
}

.inputBox {
  display: flex;
  justify-content: center;
  text-align: center;
}
