.mainTitle {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.votingInfo {
  min-height: 100vh;
}

.listUp {
  min-height: 100vh;

  .candidateBox {
    display: grid;
    grid-template-columns: 2fr;
  }
}
