@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100..700&display=swap');

.kantumruy-pro-regular {
  font-family: 'Kantumruy Pro', serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

.kantumruy-pro-bold {
  font-family: 'Kantumruy Pro', serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Bold weight */
  font-style: normal;
}

.kantumruy-pro-light {
  font-family: 'Kantumruy Pro', serif;
  font-optical-sizing: auto;
  font-weight: 200; /* Light weight */
  font-style: normal;
}
