@import './fonts.scss';
@import './variables.scss';

#root {
  font-family: $font-primary;
  font-weight: 400;
  min-width: 375px;
  max-width: 500px;
  min-height: 100vh;

  margin: 0 auto;
  background-color: rgba(6, 2, 3, 1);
  color: white;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainBottom {
  position: absolute;
  min-width: 375px;
  max-width: 500px;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.copyRight {
  color: rgba(248, 248, 252, 1);
  padding: 40px;
  text-align: center;
  font-size: 10px;
  //TODO 폰트 변경 필요
}
