@import '/src/styles/variables.scss';

.mainBtnBox {
  // display: flex;
  // justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.mainBtn {
  cursor: pointer;
  position: relative;
  background-color: $primary-color;
  color: $text-color;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 90%;
  padding: 0.8rem;
  border-radius: 999px;
}

.voted {
  color: $primary-color;
  background-color: $text-color;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 90%;
  padding: 0.8rem;
  border-radius: 999px;
}
