@import '/src/styles/variables.scss';

.mainBtnBox {
  text-align: center;
  padding-bottom: 20px;

  .mainBtn {
    font-family: 'Kantumruy Pro', serif;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 90%;
    padding: 1rem;
    border-radius: 999px;

    .votedStyle {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 20px;
        margin-right: 3px;
      }
    }
  }

  .voted {
    color: $primary-color;
    background-color: $text-color;
  }

  .notVoted {
    background-color: $primary-color;
    color: $text-color;
  }

  .mainPadding {
    padding: 0.4rem;
  }

  .cursor {
    cursor: pointer;
  }
}
